@font-face{
    font-family:header-font;
    src: url(fonts/Poppins/Poppins-Bold.ttf)
}
@font-face{
    font-family:body-font;
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf)
}
@font-face{
    font-family:p-font;
    src: url(fonts/Open_Sans/OpenSans-Light.ttf)
}

h1{
    font-family:header-font;
    font-weight:700;
    font-size:40px;
}

button{
  font-family:body-font;
    
}
p{
    font-family: body-font;
    font-weight:400;
    
}

body {
    text-align: center;
}
.div-logo-try-it {
    margin: 5%;
    display:flex;
    flex-direction:row;
    
}
.div-logo {
    display:flex;
    width:50%;
    align-items:center;
    justify-content: flex-start;
} 
.div-try-it {
    display:flex;
    width:50%;
    align-items:center;
    justify-content: flex-end;
}

#try-it {
   color:hsl(322, 100%, 66%);
   background-color:white;
   height:30px;
   width:120px;
   border-radius:50px;
   border: solid 1px;
   border-color:hsl(322, 100%, 66%);
}
.div-build-huddle {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top: 10%;
}
.my-hundle {
    width: 35%;
    height: 30%;
    text-align: center;
}
.center-comm-mesg {
    display:flex;
    flex-direction:row;
    margin:10%;

}
.div-comm {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
    margin-left:10%;
}

#one-four, #two-seven {
    font-size:80px;
    font-weight:700;
}
.one-two{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    height: 70px;
    width: 220px;
}
#comm-formed,#msg-sent {
    font-family:p-font;
    font-weight:400;
    font-size:20px;
}

.message-sent {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
    margin-left:25%;
}
.div-grow-together-disc {
    display:flex;
    flex-direction:row;
    background-color: hsl(207, 100%, 98%);
    
}
.div-grow-together {
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 10%;
}
.together-disc {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin-bottom: 0%;
    margin-left:10%;
    margin-right:10%;
}
#p-discussions {
    text-align: left;
}
#img-grow-together {
    width:500px;
    height: 500px;
}

#top-desktop-1 {
    margin-bottom: -0.5%;
    width:100%;
    
}
#bottom-desktop-1 {
    width:100%;
}
.folowing-life {
    display:flex;
    flex-direction:row;
}
.div-folowing-conv {
    width:60%;
}
.life-conversation {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    width:50%;
}
#img-flowing-conversation {
    width:500px;
    height: 500px;
}
#p-real-life {
    text-align: left;
    padding-right: 20%;
}

.div-ur-user {
    display:flex;
    flex-direction:row;
    background-color: hsl(207, 100%, 98%);
    
}
.div-img-your-user {
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 10%;
}
.user-integrate {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    margin-bottom: 0%;
    margin-left:10%;
    margin-right:10%;
}
#p-integrate {
    text-align: left;

}
#img-your-users {
    width:500px;
    height: 500px;
}
#top-desktop-2 {
    margin-bottom: -0.5%;
    width:100%;
    
}
#bottom-desktop-2 {
    width:100%;
}
#get-started {
    height: 60px;
    width:  350px;
    margin-top:2%;
    margin-bottom: 2%;
    border: none;
    border-radius:50px;
    color: white;
    background-color:hsl(322, 100%, 66%);
}

.footer-contain1 {
    display:flex;
    flex-direction:column;
    width: 100%;
    height:470px;
}
.footer-contain {
    width: 100%;
    display:flex;
    flex-direction:row;
    background-color:hsl(192, 100%, 9%); 
}
#img-footer-top-desktop{
    margin-bottom: -0.5%;
    margin-top:10%;
    width: 100%;
}
.f-logo-awesome {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    color:white;
    width: 50%;
    height: 450px;
    margin-left: 10%;
}
.f-news-form {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    color:white;
    width: 50%;

}
.div-receive-tips {
    width:60%;
}
#img-logo1 {
    color: white;
}

.my-fontawesome {
    display: flex;
    flex-direction:row;
    margin-top: 8%;
    
   
}
#p-lorem-ipsum {
    text-align: left;
}
#p-recieve-tips {
    text-align: left;
}

p i {
    color: white;
    margin-right: 10px;
    font-size:20px;
    
}
h1 i {
    margin-right: 10px;
    color: white;
    
}
a i {
    color: white;
    font-size:40px
}

.fa-instagram , .fa-twitter-square{
    padding-left:30px;
    
} 

#facebook {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    font-weight: 700;
    font-size:30px;
    text-align: left;
    
    
}
i {
    color:hsl(192, 100%, 9%); 
}

.div-form {
    margin-top:5%;
}
form {
    display:flex;
    flex-direction:row;
}

#subscribe {
    height: 50px;
    width:  150px;
    margin-left:20px;
    border: none;
    color: white;
    background-color:hsl(322, 100%, 66%);
}

#email {
    border-color: white;
    height: 45px;
    width:  350px;
    color: hsl(192, 100%, 9%);
    background-color:white;
}

#img-footer-top-mobile,
#bottom-mobile-2,#top-mobile-2,
#bottom-mobile-1,#top-mobile-1 {
    display:none;
}


@media screen and (max-width:375px) {
    #img-footer-top-desktop,
#bottom-desktop-2,#top-desktop-2,
#bottom-desktop-1,#top-desktop-1 {
    display:none;
}
#img-footer-top-mobile,
#bottom-mobile-2,#top-mobile-2,
#bottom-mobile-1,#top-mobile-1 {
    display:block;
    width:100%;
}

.div-logo-try-it {
    margin: 3%;
    margin-top:10%;
    
}

#try-it {
   height:30px;
   width:100px;
   
}
#img-logo {
   width: 130px;
   height: 25px; 
}
h1{
    font-family:header-font;
    font-weight:700;
    font-size:30px;
}
.div-build-huddle {
    margin-top: 20%;
    margin-left: 3%;
    margin-right: 3%;
}
.my-hundle {
    width: auto;
    height: auto;
    text-align: center;
}
#get-started {
    height: 50px;
    width:  250px;
    margin-top:10%;
    margin-bottom: 25%;
   
}
#img-mockup {
    width:350px;
    height: 350px;
}
.center-comm-mesg {
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-items: center;
    padding-top: 30%;
    margin:0%;


}
.div-comm {
    width:55% ;
    margin-left:0%;
}

.message-sent {
    margin-left:0%;
    width: 55%;
    margin-top:35%;
}
.div-grow-together-disc {
    display:flex;
    flex-direction:column-reverse;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: hsl(207, 100%, 98%);
    
}
.div-grow-together {
    align-items: center;
    justify-content: center;
    width: auto;   
}
.together-disc {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
#p-discussions { 
text-align: center;
    
}
#img-grow-together {
    width:350px;
    height: 350px;
}


.folowing-life {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    
}
.div-folowing-conv {
    width:auto;
}
.life-conversation {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    width:auto;
}
#img-flowing-conversation {
    width:350px;
    height: 350px;
}
#p-real-life {
    text-align: center;
    padding-right: 0%;
}

.div-ur-user {
    display:flex;
    flex-direction:column-reverse;
    background-color: hsl(207, 100%, 98%);
    
}
.div-img-your-user {
    align-items: center;
    justify-content: center;
    width: auto;
    padding-right: 0%;
}
.user-integrate {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 0%;
    margin-left:0%;
    margin-right:0%;
}
#p-integrate {
    text-align: center;

}
#img-your-users {
    width:350px;
    height: 350px;
}
#top-desktop-2 {
    margin-bottom: -0.5%;
    width:100%;
    
}
#bottom-desktop-2 {
    width:100%;
}


.footer-contain1 {
    display:flex;
    flex-direction:column;
    width: 100%;
    height:470px;
}
.footer-contain {
    width: 100%;
    display:flex;
    flex-direction:column-reverse;
    background-color:hsl(192, 100%, 9%); 
}
#img-footer-top-desktop{
    margin-bottom: -1%;
    margin-top:10%;
    width: 100%;
}
.f-logo-awesome {
    
    width: auto;
    height: 450px;
}
.f-news-form {

    margin-left: 10%;
    width: auto;

}
.div-receive-tips {
    width:auto;
}
.my-fontawesome {
    margin-top: 15%; 
}
#p-lorem-ipsum,#p-recieve-tips {
    text-align: left;
    margin-right: 20px;
}
.div-form {
    margin-top:5%;
}
form {
    display:flex;
    flex-direction:column;
}

#subscribe {
    height: 55px;
    width:  150px;
    margin-top:30px ;
    margin-left:140px;
    margin-bottom: 100px;
    border: none;
}

#email {
    border-color: white;
    height: 50px;
    width:  280px;
    color: hsl(192, 100%, 9%);
    background-color:white;
}
#subscribe, #email {
    border-radius: 10px;
}

}



  


